<%= turbo_frame_tag dom_id(message) do %>
  <div class="event">
    <div class="content">
      <div class="summary">
        <em><%= message.user.username %></em>: <%= message.body %>
      </div>
    </div>
  </div>
<% end %>