<div class="text-center">
  <img src="" class="rounded" alt="...">
  <h2>Say something...</h2>
</div>

<div class="container-fluid">
  <div class="row">
    <ul class="list-group col-6">
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
  </div>
</div>