<div class="text-center">
  <img src="" class="rounded" alt="...">
  <h2>Say something...</h2>
</div>

<div class="jumbotron jumbotron-fluid col-1">
  <div class="container">
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid col-7">
  <div class="container">
    <%= render @messages %>
  </div>
  <hr style="height:2px; width:100%; border-width:0; color:red; background-color:black">
  <div class="input-group ">
    <input type="text" class="form-control" placeholder="Enter a message..." aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
  </div>
</div>
