<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>© 2022 Copyright: <%= link_to "Pavel Myslík", "https://www.linkedin.com/in/pavel-mysl%C3%ADk-170494228/", class: "text-white"%></small>
  </div>
</footer>