<div class="container">
  <% flash.each do |name, msg| %>
    <% if name == "success" %>
      <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if name == "error" %>
      <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  <% end %>
</div>